//**********************************VIDEO

.orange {
  color: orange;
}

#mep_0 > div > div.mejs__controls {
  background: rgba(12, 115, 14, 0.4);;
}


.videoWrap {
  height: 180px;
  width: 320px;
  margin: auto;
}

.transcript {
  width: 295px;
  margin: 20px auto;
}


@media (min-width: 768px) {
  .videoWrap {
    width: 656px;
    height: 369px;
  }
  .transcript {
    width: 650px;
    margin: 20px auto;
  }
}
